* {
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
	
}

nav {
	background-color: rgba(50, 100, 250, 0.9);
	height: 4em;
	position: fixed;
	width: 100%;


}

nav ul li{
	display: inline-block;
	line-height: 2em;
	font-variant: small-caps;
	font-size: 2em;
	padding: 0 .5em;
	font-family: arial, sans-serif;
}

div {
	width: 80%;
	margin: 0em auto;

} 