* {
	padding: 0;
	margin: 0;
	font-family: "Cambay",Arial, sans-serif;
	
}

body {
	background-color: #8adfcf;
	position: relative;
}

#background_image {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: auto;
	background: image-url('neurons.jpg');
	opacity: 0.1;
}

nav {
	background-color: rgba(50, 75, 113, 0.95);
	height: 4em;
	position: fixed;
	width: 100%;

}

nav ul li {
	line-height: 2em;
	font-variant: small-caps;
	font-size: 2em;
	padding: 0 0.5em;
	font-family: "Cambay", arial, sans-serif;
} 

p {
	text-indent: 2em;
	line-height: 1.5em;
}

blockquote {
	display: block;
	margin: 2em;
	border-left: 0.25em solid #bbbbbb;
	padding-left: 1em;
	font-style: italic;
	font-size: .75em;
}

blockquote span {
	font-weight: bold;
}

a {
    color: #ffffff;
    text-decoration: none;
}

section#logo_holder {
	padding: 5em 0em;
}

div#content{
	background-color: #f0ddc5;
	width: 70%;
	margin: 0em auto;
	padding: 5% 5%;
	box-shadow: 0 0 1em .2em #bbbbbb;
}

.introimage {
	float: right;
	width: 50%;
	box-shadow: 0 0 1em .1em #555555;
    border: .1em solid #fff;
	margin-left: 2em;
    margin-bottom: 1em;
}

#link {
	text-decoration: underline;
	color: #bbbbbb;
}

.biopic {
	float: left;
	width: 25%;
	margin-right: 2em;
    margin-bottom: 1em;
}

#navicon {
	float: right;
	height: 80%;
	margin-right: 2%;
}

.hidden {
	display: none;
}

.alert {
	position: fixed;
	top: 50%;
	z-index: 5;
	padding: 1em;
	margin: 2em auto;
	box-shadow: 0 .3em .3em #444444;
	left: 50%;
	transform: translateX(-50%);
	border-radius: .3em;
}

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

#contact_container {
	max-width: 800px;
	margin: 2em auto;
	background-color: #eeeeee;
	border-radius: 2em;
	padding: 1.5em;
	margin: 2.5em .5em;

	.input {
		label {
		  display: inline-block;
		  width: 5em;
		  vertical-align: top;
		  margin-top: 1em;
		}

		input, textarea {
			line-height: 1em;
		    padding: .5em;
		    border: .1em solid #bbbbbb;
		    box-shadow: inset 0 0 .3em -.05em #dddddd, 0 .02em 0 0.07em #fff;
		    border-radius: .2em;
		    font-size: 1em;
		    margin: 1em;
		    color: #888888;
		}

		input {
			width: 60%;
		}

		textarea {
			width: 60%;
			height: 5em;
		}
	}
}

#map_container {
	margin: 2.5em auto;
}